<template>
    <header class="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
            	<router-link class="navbar-brand" to="/" exact>Logo</router-link>
                <button class="navbar-toggler" type="button" @click="showMobileMenu = !showMobileMenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent" :class="{show : showMobileMenu}">
                    <ul class="navbar-nav mr-auto">
                    	<router-link v-for="(link, index) in linkMenus" class="nav-item" :to="link.url" tag="li" exact :key="index" active-class="active" @click.native="showMobileMenu = false">
                    		<a class="nav-link" href="#">{{ link.title }}</a>
                    	</router-link>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
</template>

<script>
export default {
    data() {
        return {
            mydata: null,
            showMobileMenu: false,
        }
    },
    methods: {    	
        checkUser () {
        	return this.$store.getters.checkUser;
        },

        linkMenu () {
        	if (this.checkUser()) {
        		return [
        			{title: 'Главная', url: '/',},
        			{title: 'Юзеры', url: '/users',},
        		]
        	} else {    		
	        	return [
	        		{title: 'Вход', url: '/signin',},
	            	{title: 'Регистрация', url: '/signup',}
	        	]
        	}
        }
    },
    computed: {
    	linkMenus () {
	        return this.linkMenu();
	    }
    }
}

</script>