.video-wrap {
	max-width: 800px;
	margin: 0 auto;
	.video {	
		width: 100%;
		padding-bottom: 50%;
		iframe {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
		}
	}
}