<template>
	<div class="signup">
		<div class="container">
			<h1 class="mt-3">Регистрация</h1>
			<form @submit.prevent="onSubmit">
				<div class="row">
					<div class="col">				
						<div class="form-group">
							<label>Введите Email</label>
							<input type="email" :class="{'is-invalid' : $v.email.$error}" v-model.trim="email" placeholder="email" class="form-control" @change="$v.email.$touch()">
							<div class="invalid-feedback" v-if="!$v.email.required">Email  обязателен для заполнения</div>
							<div class="invalid-feedback" v-if="!$v.email.email">Не корректный email</div>
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label>Введите Пароль</label>
							<input type="password" v-model="pass" class="form-control"  :class="{'is-invalid' : $v.pass.$error}" @change="$v.pass.$touch()">
							<div class="invalid-feedback" v-if="!$v.pass.required">Пароль  обязателен для заполнения</div>
							<div class="invalid-feedback" v-if="!$v.pass.minLength">Пароль должен содержать минимум {{$v.pass.$params.minLength.min}} символов</div>
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label>Повторите пароль</label>
							<input v-model="repeatPass" @change="$v.repeatPass.$touch()"class="form-control" :class="{'is-invalid' : $v.repeatPass.$error}">
							<div class="invalid-feedback" v-if="!$v.repeatPass.sameAsPasswords">Пароли не совпадают</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">				
						<div class="form-group">
							<label>Введите Имя</label>
							<input type="text" v-model="firstname" placeholder="Имя" class="form-control" >
							<div class="invalid-feedback" v-if="!$v.firstname.required">Имя обязательно для заполнения</div>
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label>Введите Фамилию</label>
							<input type="text" v-model="lastname" placeholder="Фамилия" class="form-control" >
							<div class="invalid-feedback" v-if="!$v.lastname.required">Имя обязательно для заполнения</div>
						</div>
					</div>
				</div>
				<button class="btn btn-primary" :disabled="submitStatus === 'PENDING'" type="submit"><span v-if="submitStatus === 'PENDING'">Отправка...</span><span v-else>Зарегистрироваться</span></button>
				  <p v-if="submitStatus === 'OK'">Спасибо вы зарегистрированы и будете перенаправлены на вход через 4 секунды</p>
				  <p v-if="submitStatus === 'ERROR'">Заполните все поля корректно</p>
				  <p v-if="submitStatus === 'ERRORSERVER'">
				  	Простите что вывожу серверные ошибки без перевода
				  	<p class="mb-0 text-danger" v-for="(error, index) in serv_errors">{{ error }}</p>
				  </p>
				 <div class="row mt-2">
				 	<div class="col-12">
				 		<p>Вы уже зарегистрированы? <router-link to="/signin" class="text-primary">Войдите здесь</router-link></p> 
				 	</div>
				 </div>
			</form>
		</div>
	</div>
</template>

<script>
	import {required, email, minLength, sameAs } from 'vuelidate/lib/validators';

	export default {
		data() {
			return {
				email: '',
				pass: '',
				repeatPass: '',
				firstname: '',
				lastname: '',
				submitStatus: null,
				serv_errors: {},
			}
		},
		methods: {
			test() {
				console.log(this.$store);
			},
			async onSubmit() {
				console.log('submit!')
				this.$v.$touch();
				if (this.$v.$invalid) {
					this.submitStatus = 'ERROR'
				} else {	
					const user = {
						email: this.email,
						password: this.pass,
						firstName: this.firstname,
						lastName: this.lastname,
					}
					this.submitStatus = 'PENDING';
					try	{
						const res = await axios.post('http://localhost:4000/api/auth/signup', user);
						this.$store.dispatch('registerUser', user);
						// сбросим форму $reset не работает т.к мы юзаем @change
						this.submitStatus = 'OK';
						this.email = '';
						this.pass = '';
						this.repeatPass = '';
						this.firstname = '';
						this.lastname = '';
						this.$v.$reset();
						// Перенаправим на логин
						setTimeout(()=> {
							this.$router.push('/signin');
						},4000);
					} catch (err) {
						this.submitStatus = 'ERRORSERVER';
						if (err.response) {
							const { data : { errors: errors } } = err.response;
							this.serv_errors = errors;
							// console.log(errors);
						} else {
							this.serv_errors = { 'err': err };
							// console.log(err);
						}
					}
				}
			}
		},
		validations: {
			email: {
		      required,
		      email
		    },
		    pass: {
		      required,
		      minLength: minLength(6)
		    },
		    repeatPass: {
		    	sameAsPasswords: sameAs('pass')
		    },
		    firstname: {
		      required,
		    },
		    lastname: {
		      required,
		    },
		    
		}
	}
</script>