<template>
	<div class="signin">
		<div class="container">
			<h1 class="mt-3">Вход</h1>
			<form @submit.prevent="onSubmit">
				<div class="row">
					<div class="col">				
						<div class="form-group">
							<label>Введите Email</label>
							<input type="email" :class="{'is-invalid' : $v.email.$error}" v-model.trim="email" placeholder="email" class="form-control" @change="$v.email.$touch()">
							<div class="invalid-feedback" v-if="!$v.email.required">Email  обязателен для заполнения</div>
							<div class="invalid-feedback" v-if="!$v.email.email">Не корректный email</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="form-group">
							<label>Введите Пароль</label>
							<input type="password" v-model="pass" class="form-control"  :class="{'is-invalid' : $v.pass.$error}" @change="$v.pass.$touch()">
							<div class="invalid-feedback" v-if="!$v.pass.required">Пароль  обязателен для заполнения</div>
							<div class="invalid-feedback" v-if="!$v.pass.minLength">Пароль должен содержать минимум {{$v.pass.$params.minLength.min}} символов</div>
						</div>
					</div>
				</div>
				<button class="btn btn-primary" :disabled="submitStatus === 'PENDING'" type="submit"><span v-if="submitStatus === 'PENDING'">Отправка...</span><span v-else>Вход</span></button>
				  <p class="typo__p" v-if="submitStatus === 'OK'">Спасибо вы вошли</p>
				  <p class="typo__p" v-if="submitStatus === 'ERROR'">Заполните все поля корректно</p>
				 <div class="row mt-2">
				 	<div class="col-12">
				 		<p>Вы еще не зарегистрированы? <router-link to="/signup" class="text-primary">Зарегистрируйтесь здесь</router-link></p> 
				 	</div>
				 </div>
			</form>
		</div>
	</div>
</template>

<script>
	import {required, email, minLength} from 'vuelidate/lib/validators';
	export default {
		data() {
			return {
				email: '',
				pass: '',
				submitStatus: null,
			}
		},
		methods: {
			async onSubmit() {
				console.log('submit!')
				this.$v.$touch();
				if (this.$v.$invalid) {
					this.submitStatus = 'ERROR'
				} else {	
					// do your submit logic here
					const user = {
						email: this.email,
						password: this.pass,
					}
					this.submitStatus = 'PENDING'
					try {
						const res = await axios.post('http://localhost:4000/api/auth/signin', user);
						this.$store.commit('setUser', res);
						// console.log(res);
						this.submitStatus = 'OK';
						this.$router.push('/');
					} catch (err) {
						this.submitStatus = 'ERRORSERVER';
						if (err.response) {
							const { data : { errors: errors } } = err.response;
							this.serv_errors = errors;
							console.log(errors);
						} else {
							this.serv_errors = { 'err': err };
							console.log(err);
						}
					}
				}
			}
		},
		validations: {
			email: {
		      required,
		      email
		    },
		    pass: {
		      required,
		      minLength: minLength(6)
		    },
		}
	}
</script>