// Styleguide colors
$text-color: black;

// default border
$border: 1px solid rgba(47,26,103,.1);

// Fonts
// $font-geometria: 'Geometria', 'Helvetica', 'Arial', sans-serif;
// $font-root: 'PT Root UI', 'Helvetica', 'Arial', sans-serif;