<template>
	<div class="home-page text-center">
		<div class="container">
			<h1 class="mt-3">{{title}}</h1>
			<p>Добро пожаловать на сайт любителей орущего мужика</p>
		</div>
		<section class="section section-video">
			<div class="container">
				<div class="video-wrap">
					<div class="video">			
						<iframe width="560" height="315" src="https://www.youtube.com/embed/16xGceArnz8?controls=0&autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</section>
		<section class="section section-memes">
			<div class="container">
				<h3 class="mb-4">А какие мемы с орущим мужиком ваши любимые?</h3>
				<div class="memes__images">
					<div class="row align-items-center">
						<div class="col-md-4 mb-4 mb-md-0" v-for="(meme, index) in memes" :key="index">
							<img :src="meme.url" :alt="meme.alt"  class="memes__image img-fluid img-thumbnail">
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				title: 'Home',
				memes: [
					{url:'./img/content/1.jpg', alt: "мем один",},
					{url:'./img/content/2.jpg', alt: "мем два",},
					{url:'./img/content/3.jpg', alt: "мем три",}
				]
			}
		}
	}
</script>