<template>
	<div class="users">
		<h1 class="mt-3 text-center">Юзеры</h1>
		<div class="users-items">
			<div class="container">
				<div class="users-item">
					<div class="card mb-2" v-for="(user, index) in users" :key="index">
						  <div class="card-body">
						    <h5 class="card-title">{{ user.firstName }}</h5>
						    <h6 class="card-subtitle mb-2 text-muted">{{ user.lastName }}</h6>
						    <p class="card-text"> Создан {{ user.updatedAt }}</p>
						    <a :href="`mailto:${user.email}`" class="card-link text-primary">{{ user.email }}</a>
						  </div>
					</div>
				</div>
				<nav aria-label="Page navigation example" v-if="pages > 0">
					<ul class="pagination">
						<li class="page-item" @click="getPage(cur_page - 1);" v-if="cur_page == 0"><a class="page-link" href="#">Предыдущая</a></li>
						<li class="page-item" @click="getPage(index+1);" :class="{ 'active' : cur_page == (index+1) }" v-for="(page, index) in pages" :key="index"><a class="page-link" href="#">{{ index+1 }}</a></li>
						<li class="page-item" @click="getPage(cur_page + 1);" v-if="cur_page !== pages"><a class="page-link " href="#">Следующая</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				users: null,
				pages: 0,
				cur_page: 1,
			}
		},
		methods: {
			async getPage (page_num) {
				if (page_num) {
					page_num = '&page='+ page_num;
				}
				try {
					const { 
						data : { data },
						data : { page },
						data : { pages },
					} = await axios.get('http://localhost:4000/api/users/?size=5' + page_num);
					this.users = data;
					this.cur_page = page;
					this.pages = pages;
					console.log(page_num);
				} catch {

				}
			},
			async getUsers () {
				try {
					const { 
						data : { data },
						data : { page },
						data : { pages },
					} = await axios.get('http://localhost:4000/api/users/?size=5');
					this.users = data;
					this.cur_page = page;
					this.pages = pages;
				} catch {

				}

			}
		},
		created() {
			this.getUsers()
		}
	}
</script>